<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>SaigonRates</title>
	{% block css %}
	{% endblock %}    
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #105c50;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			font-size: 18px;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li a:hover:not(.active) {
			background-color: #0e0753;
		}

		.active {
			background-color: #aa0417;
		}
	</style>
</head>
<body>
	<ul id="navbar">
		<li><a class="active" href="{% url 'enterprise' %}">ENTERPRISE ANALYSIS</a></li>
		<li><a href="{% url 'industry' %}">INDUSTRY INFO</a></li>			
		<li><a href="{% url 'macro' %}">MACRO ECONOMIC</a></li>
		<li><a href="{% url 'ratings' %}">RATINGS INFO</a></li>
		<li><a href="{% url 'other' %}">OTHER ANALYSIS</a></li>		
	</ul>
	
	<div class="container">
		{% block content %}
		{% endblock %}      
	</div>
		{% block scripts %}
		{% endblock %}      
</body>
</html>