<!DOCTYPE html>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
	</script>
    <link rel="stylesheet" href="main.css">
</head>

<body>
	
    <div class="vn-blue" style="text-align: center;">
        <a href="#" class="btn-wrap" id="link">DOWNLOAD</a>
    </div>
	
	<script>
		$(document).ready(function () {
			$("#link").click(function (e) {
				e.preventDefault();
                alert('HI')
				
				window.location.href
					= "realpython.xlsx";
			});
		});
	</script>
</body>

</html>
